@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}
body{
  font-family: "Poppins", serif;
}


/* Common Styles Here  */

header, main{
  width: 90%;
  margin: 0 auto;
}
main>section{
  margin-top: 100px;
}

.dark1{
  color: #3A3A3A;
}

.common_section{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.common_content{
  width: 60%;
}

.common_content h2{
  font-size: 3.5rem;
  color: #3A3A3A;
}

.common_content p{
  color: #3A3A3A;
  font-size: 0.9rem;
  width: 80%;
}

.common_btn{
  margin-top: 20px;
}

.common_btn button{
  background-color: #E02C6D;
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.hero_btn button:hover{
  background-color: #940338;
  transition: 0.3s all ease;
}

/* Nav Section  */


header{
  margin-top: 40px;
}

.logo img{
  display: none;
}
.cart_icon{
  display: none;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 50px;
}

.menu ul li{
  list-style: none;
}
.menu ul li a{
  text-decoration: none;
  color: #3A3A3A;
}



/* Hero Section  */




.hero_image{
  width: 50%;
  background-image: url('../images/Circle\ design.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
}

.hero_image img{
  width: 80%;
}



/* Company Section  */


.company_section{
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 30px 0px;
  border-top: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
}



/* Product Section  */


.product_title{
  text-align: center;
  margin-bottom: 50px;
  font-size: 2rem;
  color: #3A3A3A;
}

.product_cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}



.product_cards .card{
  padding: 20px;
  box-shadow: 5px 5px 20px rgb(221, 221, 221);
  margin: 0 auto;
  width: 30%;
}
.product_cards .card img{
  width: 100%;
}
.card_content {
  color: #3A3A3A;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
.review{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}
.star_icon{
  display: flex;
  justify-content: start;
  align-items: center;
}
.card_btn{
  display: flex;
  justify-content: end;
  align-items: center;
}

.card_btn button{
  background-color: white;
  color: #E02C6D;
  gap: 5px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

}

.card_btn button:hover{
  background-color: rgb(226, 226, 226);
  transition: 0.3s add ease;
}



/* Feature Section  */

.feature_content{
  width: 50%;
}
.feature_image{
  width: 35%;
}
.feature_image img{
  width: 100%;
}
.feature_content h2{
  font-size: 2rem;
}



/* Foooter Section  */


footer{
  background-color: #0A0826;
  margin-top: 80px;
}

.footer_section{
  text-align: center;
  color: white;
  font-size: 0.8rem;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.footer_icons{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}





/* Responsive Style  */


@media screen and (max-width: 576px) {
  body{
    overflow-x: hidden;
  }
  section{
    overflow-x: hidden;
  }
  .logo img{
    display: block;
  }
  .logo h2{
    display: none;
  }
  .menu ul{
    display: none;
  }
  .cart_icon{
    display: block;
  }
  .common_section{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .common_content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-top: 20px;
  }
  .common_content h2{
    font-size: 2rem;
  }
  .common_content p{
    width: 100%;
  }
  .common_image{
    width: 100%;
  }
  .common_image img{
    width: 90%;
  }
  .company_section{
    flex-wrap: wrap;
  }
  .company_section img{
    width: 80px;
  }
  header{
    width: 90%;
    margin: 30px auto;
  }
  .product_cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .product_cards .card{
    width: 45%;
    height: 345px;
    height: 330px;
    padding: 10px;
  }
  .feature_section{
    flex-direction: column-reverse;
    align-items: center;
  }
  .feature_image{
    margin-top: 30px;
  }
  .feature_image img{
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
  .company_section{
    gap: 20px;
  }
  .company_section img{
    width: 70px;
  }
}
